/* Book.css */

#book-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
  }
  
  #book-list li {
    padding: 20px;
    width: 200px;
    margin-top: 10px;
    max-width: 250px;
    max-height: 400px;
  }
  
  .book-card {
    background-color: #651a1af7;
    padding: 1rem;
    width: 100%;
    height: 100%;
    box-shadow: 5px 5px 10px #651a1a;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: transform 0.2s ease-in-out; /* add a transition effect */
  }
  
  .book-card:hover {
    transform: translateY(-10px); /* lift up the card */
  }
  
  
  .book-card > img {
    width: 100%;
    height: 50%;
  }
  
  .book-card h3 {
    font-size: 20px;
    color: rgb(255, 255, 255);
    margin: 0;
    padding: 3px;
  }
  
  .book-card p {
    color: rgb(255, 255, 255);
    margin: 10px;
    font-size: 12px;
    padding: 3px;
  }

  .book-card article {

    font-size: 16px;
    color: rgb(255, 255, 255);
    margin: 0;
    padding: 3px;
  }

  